<launch>
    <node
        pkg='rosbag'
        name='muscle_and_tendon_logger'
        type='record'
        args='record -o $(env HOME)/bagfiles
        /ca_camera_right/image_raw
        /kine_camera_1/image_raw/compressed
        /arena_camera/image_color/compressed
        /phidgets_daq/all_data 
        /ledpanels/command
        /ledpanels/debug
        /exp_scripts/exp_state 
        /exp_scripts/exp_metadata
        /exp_scripts/exp_block
        /kinefly/command 
        /kinefly/flystate 
        /kinefly/flystate2phidgetsanalog/command
        /ModelViewFrame
        /LogRefFrame
        /unmixer_right/b1
        /unmixer_right/b2
        /unmixer_right/b3
        /unmixer_right/bkg
        /unmixer_right/hg1
        /unmixer_right/hg2
        /unmixer_right/hg3
        /unmixer_right/hg4
        /unmixer_right/i1
        /unmixer_right/i2
        /unmixer_right/iii1
        /unmixer_right/iii24
        /unmixer_right/iii3
        /unmixer_right/image_output
        /unmixer_right/nm
        /unmixer_right/pr
        /unmixer_right/tpd'
    >
    </node>
</launch>
