<launch>
	<!-- ========================================================== -->
	<!-- Record a .bag file with 1 camera image stream  and         --> 
	<!-- stimulus voltage recording.                                -->
	<!-- ========================================================== -->

    <arg name="prefix" default="" />
    
    <node name="rosbag"  pkg="rosbag"   type="record" args="-j --buffsize=4096 -o $(env HOME)/bagfiles/$(arg prefix) 
    /ca_camera_1/image_raw 
    /kine_camera_1/image_raw 
    /phidgets_daq/all_data 
    /ledpanels/command 
    /exp_scripts/exp_state 
    /exp_scripts/exp_metadata 
    /kinefly/command 
    /kinefly/flystate 
    /kinefly/flystate2phidgetsanalog/command
    /ModelViewFrame
    /Unmixer/b1
    /Unmixer/b2
    /Unmixer/b3
    /Unmixer/bkg
    /Unmixer/hg1
    /Unmixer/hg2
    /Unmixer/hg3
    /Unmixer/hg4
    /Unmixer/i1
    /Unmixer/i2
    /Unmixer/iii1
    /Unmixer/iii24
    /Unmixer/iii3
    /Unmixer/iii4
    /Unmixer/nm
    /Unmixer/pr
    /Unmixer/tpd
" />
</launch>
