<launch>

      <!-- ========================================================== -->
      <!-- Launch the muscle viewer    .                              -->
      <!-- ========================================================== -->
  
      <param name="/live_viewer_right/image_topic" value="/ca_camera_right/image_raw" type ="str" />
      <node name="live_viewer_right" pkg="muscle_imager" type="live_viewer_johan.py" />

      <param name="/live_viewer_left/image_topic" value="/ca_camera_left/image_raw" type ="str" />
      <node name="live_viewer_left" pkg="muscle_imager" type="live_viewer_johan.py" />

</launch>
